<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign Up Page</h1>
    <form action="/create-user" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Enter Your email">
        <br>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" placeholder="Enter Your password">
        <br>
        <label for="cnfpass">Confirm Password: </label>
        <input type="text" name="cnfpass" id="cnfpass" placeholder="Enter Your name">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>

</html>