body {
    width: 50%;
    min-height: 80%;
    margin: 0 auto;
    text-align: center;
}

#sign-upp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

#sign-upp button {
    background-color: green;
    color: white;
}

button {
    cursor: pointer;
}

#sign-inn button {
    background-color: black;
    color: white;
    width: 45%;
    margin-top: 20px;
    cursor: pointer;

}

span {
    margin-left: -40px;
}